.login {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: round;
  background-size: contain;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.loginLeft,
.loginRight {
  display: flex;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 10px;
  z-index: 1;
}

.loginDesc {
  font-size: 24px;
  color: #b9bbbe;
  z-index: 1;
}

.loginBox {
  height: auto;
  padding: 20px;
  background-color: #36393F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginBox * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  z-index: 1;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #5865f2;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
}

.loginForgot {
  text-align: center;
  color: #00aff4;
  z-index: 1;
}

.loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #FFF;
  color: black;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
}